@using StalkStalker.Data
@using StalkStalker.Models
<EditForm Model="_weekModel" OnSubmit="SaveWeek">
    <div>
        <label for="price">Price: </label>
        <InputNumber id="price" @bind-Value="_weekModel.Price" @oninput="OnInputPrice"> ></InputNumber>
        <span class="oi oi-bell"></span>
    </div>
    <div>
        <label for="turnips">Turnips: </label>
        <InputNumber id="turnips" @bind-Value="_weekModel.Turnips" @oninput="OnInputTurnips"></InputNumber>
    </div>
    <div>
        <button type="submit" class="btn btn-success" disabled="@DisableSubmit">Submit</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>
@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;

    [CascadingParameter] public CascadingState State { get; set; } = null!;

    [Parameter] public Week Week { get; set; } = null!;
    private WeekModel _weekModel = null!;
    private bool DisableSubmit => (_weekModel.Price <= 0 || _weekModel.Turnips <= 0) || (_weekModel.Price == Week.Price && _weekModel.Turnips == Week.Turnips);


    protected override void OnParametersSet()
    {
        _weekModel = new WeekModel
        {
            Price = (int)Week.Price,
            Turnips = (int)Week.Turnips
        };
        base.OnParametersSet();
    }

    private async Task SaveWeek()
    {
        await State.UpdateWeekStats(Week.Id, (uint)_weekModel.Price, (uint)_weekModel.Turnips);
        await ModalInstance.CloseAsync();
    }
    async Task Cancel() => await ModalInstance.CancelAsync();
    private void OnInputTurnips(ChangeEventArgs e) => _weekModel.Turnips = (string) e.Value! != string.Empty ? Convert.ToInt32(e.Value) : 0;
    private void OnInputPrice(ChangeEventArgs e) => _weekModel.Price = (string) e.Value! != string.Empty ? Convert.ToInt32(e.Value) : 0;


}