@using StalkStalker.Data
<button class="btn btn-primary" @onclick="DisplayModal"><span class="oi oi-pencil"></span></button>
@code {
    [Parameter] public Week Week { get; set; } = null!;

    [CascadingParameter] public IModalService Modal { get; set; } = null!;

    private async Task DisplayModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditWeekModal.Week), Week);

        var editModal = Modal.Show<EditWeekModal>("Edit Week", parameters);
        await editModal.Result;
    }
}