@using Microsoft.AspNetCore.Components
@using StalkStalker.Models
@using StalkStalker.Data
@using StalkStalker.Services

@inject Blazored.LocalStorage.ISyncLocalStorageService _localStorage
@inject Blazored.LocalStorage.ILocalStorageService _asyncLocalStorage
@inject Tracker _tracker
<div id="this-week">
    @if(ShowForm)
    {
        <EditForm Model="@_weekModel" OnSubmit="HandleValidSubmit">
            <label>
                Price This Week:
                <InputNumber @bind-Value="_weekModel.Price" class="form-control num-input"></InputNumber>
            </label>
            <label>
                Number Purchased This Week:
                <InputNumber @bind-Value="_weekModel.Turnips" class="form-control num-input"></InputNumber>
            </label>
            <button type="submit" class="btn btn-primary" disabled="@DisableButton">Submit</button>
        </EditForm>
    }
    else
    {
        @if (CurrentWeek != null)
        {
            <WeekView Editable="true" Week="CurrentWeek"></WeekView>
        }
    }
</div>
@code {
    private readonly WeekModel _weekModel = new();
    private bool ShowForm => _tracker.CurrentWeek == null;
    private Week? CurrentWeek => _tracker.CurrentWeek;
    private bool DisableButton => _weekModel.Price == 0;

    private async Task HandleValidSubmit()
    {
        var newWeek = _weekModel.CastToWeek();
        await _tracker.NewWeek(newWeek);
    }
}