﻿@using StalkStalker.Data
@using StalkStalker.Shared.SaleComponents
@using StalkStalker.Shared.DayComponents
@inject Services.Tracker _tracker
<h3>
@if (IsThisWeek)
{
    @("This Week")
}
else
{
    @($"Week of {Week.StartDate.ToShortDateString()}")
}
</h3>
<WeekStats Editable="Editable" Week="Week"></WeekStats>

<table class="table week-table">
    <thead>
    <tr>
        <th>
            Day of Week
        </th>
        <th>
            Morning
        </th>
        <th>
            Midday
        </th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Week.Days.Length; i++)
    {
        @if (Editable)
        {
            <DayEntry DayOfWeek="i" Day="Week.Days[i]" TurnipsRemaining="TurnipsRemaining" WeekId="Week.Id"/>
        }
        else
        {
            <DayListing DayOfWeek="i" Day="Week.Days[i]"/>
        }
    }
    </tbody>
</table>

@code {
    [Parameter] public Week Week { get; set; } = null!;
    [Parameter] public bool Editable { get; set; }

    [CascadingParameter] CascadingState State { get; set; } = null!;
    private bool IsThisWeek => _tracker.CurrentWeek != null && Week.Id == _tracker.CurrentWeek!.Id;
    
    private uint TurnipsRemaining => Week.Turnips - Week.TurnipsSold;
    

    

    
}