@using StalkStalker.Data
@using StalkStalker.Shared.SaleComponents
<div class="week-stats">
    <div class="basic-stats">
        <div>
            Price:
            <p>@Week.Price <span class="oi oi-bell"></span></p>
        </div>
        <div>
            Purchased:
            <p>@($"{Week.Turnips:##,###}")</p> 
        </div>
        <div>
            Spent:
            <p>@($"{Week.Spent:##,###}") <span class="oi oi-bell"></span></p>
        </div>
        @if(Editable) { <EditWeekButton Week="Week"></EditWeekButton> }
    </div>
    @if (Week.Sales.Count > 0)
    {
        <div class="sales-stats">
            <p>
                Total Sales: @($"{Week.Revenue:##,###}") <span class="oi oi-bell"></span>
            </p>
            <p>
                Total Profit: @($"{Week.Profit:##,###}") <span class="oi oi-bell"></span>
            </p>
            <ul>
                @foreach (var sale in Week.Sales)
                {
                    <SaleListing Sale="sale" Editable="Editable" WeekId="Week.Id"></SaleListing>
                }
            </ul>
        </div>
    }
</div>
@code {
    [Parameter] public bool Editable { get; set; }
    [Parameter] public Week Week { get; set; } = null!;
    
    [CascadingParameter] IModalService Modal { get; set; } = null!;
    

    
}