@using StalkStalker.Services
@using StalkStalker.Data
@inject Tracker _tracker

@if (Weeks.Count > 0)
{
    <div id="history">
        <h3>History</h3>
        <hr/>
        @foreach(var week in Weeks)
        {
                <div class="week-summary card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="week/@week.Id">@week.StartDate.ToShortDateString()</a></h5>
                        @if(week.Spent > 0)
                        {
                            <p class="card-text">Price: @week.Price | Bought: @week.Turnips</p>
                            <p class="card-text">Spent: @week.Spent | Revenue: @week.Revenue | Profit: @week.Profit
                                (@($"{week.ProfitPercentage:#,##0.00}")%)</p>
                        }
                        else
                        {
                            <p class="card-text">No data for @week.StartDate.ToShortDateString()</p>
                        }
                    </div>
                </div>
        }
    </div>
}
@code {
    List<Week> Weeks => 
        _tracker.CurrentWeek == null ? 
            _tracker.Weeks :
            _tracker.Weeks.Where(week => week.Id != _tracker.CurrentWeek!.Id).ToList();

}