@using StalkStalker.Data
<button @onclick="DeleteSale" class="btn btn-danger"><span class="oi oi-trash"></span></button>

@code {
    [Parameter] public Sale Sale { get; set; } = null!;
    [Parameter] public Guid WeekId { get; set; }
    [CascadingParameter] public CascadingState? State { get; set; }

    private void DeleteSale()
    {
        State?.DeleteSale(Sale, WeekId);
    }
}