@using StalkStalker.Data
<li class="card">
    <div class="card-body">
        <p class="card-text">@Sale.Date.DayOfWeek : @($"{Sale.Turnips:##,###}")@@@($"{Sale.Income:##,###}")<span class="oi oi-bell"></span></p>
        @if (Editable)
        {
            <DeleteSaleButton Sale="Sale" WeekId="WeekId"></DeleteSaleButton>
        }
    </div>
</li>
@code {
    [Parameter] public Sale Sale { get; set; } = null!;
    [Parameter] public bool Editable { get; set; }
    [Parameter] public Guid WeekId { get; set; }
}