@using StalkStalker.Data
@using StalkStalker.Services

@inject Tracker _tracker
<p>Sale Price: @SellPrice <span class="oi oi-bell"></span></p>
<p>Turnips left to sell: @($"{RemainingTurnips:##,###}")</p>
<p>Income: @($"{Income:##,###}") <span class="oi oi-bell"></span></p>
@if (_error)
{
    <p>You tried to sell too many turnips!</p>
}
<EditForm Model="this">
    <label for="turnips">Turnips Sold: </label>
    <InputNumber
        class="num-input"
        id="turnips" 
        @bind-Value="Turnips" 
        @oninput="OnInput"></InputNumber>

    <button @onclick="SubmitForm" class="btn btn-primary" disabled="@DisableSubmit">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</EditForm>
@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;

    [CascadingParameter] public CascadingState State { get; set; } = null!;
    [Parameter] public Day Day { get; set; } = null!;
    [Parameter] public int SellPrice { get; set; }
    [Parameter] public uint RemainingTurnips { get; set; }
    [Parameter] public Guid? WeekId { get; set; }

    private int Turnips { get; set; }
    private uint Income => (uint)Turnips * (uint)SellPrice;
    private bool _error;
    private bool DisableSubmit => Turnips == 0 || Turnips > RemainingTurnips;

    async Task SubmitForm()
    {
        var success = await State.AddSale(new Sale((uint)Turnips, (uint)SellPrice, Day.Date), WeekId);
        if (success) await ModalInstance.CloseAsync();
        else _error = true;
    }


    async Task Cancel() => await ModalInstance.CancelAsync();

    private void OnInput(ChangeEventArgs e) => Turnips = (string) e.Value! != string.Empty ? Convert.ToInt32(e.Value) : 0;
}