﻿@page "/"
@using StalkStalker.Shared.WeekComponents
@using StalkStalker.Shared.HistoryComponents
<PageTitle>Stalk Stalker</PageTitle>
<div id="index">
    <ThisWeek></ThisWeek>
    <History></History>
</div>

@code {
    [CascadingParameter]  public IModalService Modal { get; set; } = null!;

}