@page "/Week/{id:guid}"

@using StalkStalker.Services
@using StalkStalker.Data
@using StalkStalker.Shared.WeekComponents
@inject Tracker _tracker
<button @onclick="ToggleLock" class="btn btn-@EditButtonClass">
        <span class="oi oi-lock-@EditButtonIcon"></span>
    </button>
@if (Week != null)
{   
    <WeekView Week="Week" Editable="@_editable"></WeekView>
}
else
{
    <h3>Could not find the week specified.</h3>
}
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = null!;
    [CascadingParameter] public CascadingState State { get; set; } = null!;
    [Parameter] public Guid Id { get; set; }

    private bool _editable;
    private string EditButtonClass => _editable ? "warning" : "success";
    private string EditButtonIcon => _editable ? "unlocked" : "locked";
    
    private Week? Week => _tracker.FindWeek(Id);
    
    private async Task ToggleLock()
    {
        if (_editable) await State.SaveWithoutStateChange();
        _editable = !_editable;
        StateHasChanged();
    }
    
}