@using StalkStalker.Data
@using StalkStalker.Models
@using StalkStalker.Services
@inject Tracker Tracker
<tr>
        <td>
            <label>
                @DayOfWeekString
            </label>
        </td>
        <td>
            <div class="day-entry">
                <EditForm Model="_dayModel" class="day-form">
                    <input class="form-control num-input" @bind="_dayModel.MorningPrice" @bind:event="oninput" @onblur="OnBlurMorning" />
                </EditForm>
                <SoldButton Day="Day" SellPrice="_dayModel.MorningPrice" RemainingTurnips="TurnipsRemaining" WeekId="WeekId" Disabled="@DisableBell(_dayModel.MorningPrice)" Morning="true"></SoldButton>
            </div>
        </td>
    <td>
        <div class="day-entry">
            <EditForm Model="_dayModel" class="day-form">
                <input class="form-control num-input" @bind="_dayModel.MiddayPrice" @bind:event="oninput" @onblur="OnBlurMidday"/>
            </EditForm>
            <SoldButton Day="Day" SellPrice="_dayModel.MiddayPrice" RemainingTurnips="TurnipsRemaining" WeekId="WeekId" Disabled="@DisableBell(_dayModel.MiddayPrice)" Morning="false"></SoldButton>
        </div>
    </td>
</tr>

@code {
    [CascadingParameter] public CascadingState State { get; set; } = null!;
    [Parameter] public int DayOfWeek { get; set; }
    [Parameter] public Day Day { get; set; } = null!;
    [Parameter] public uint TurnipsRemaining { get; set; }
    [Parameter] public Guid? WeekId { get; set; }
    
    private bool ShowAdd => Day.MorningPrice == 0 || Day.MiddayPrice == 0;
    private DayModel _dayModel = new ();
    private string DayOfWeekString => DayModel.DaysOfWeek[DayOfWeek];
    private bool DisableBell(int price) => TurnipsRemaining < 1 || price < 1;
    
    
    protected override void OnParametersSet()
    {
        _dayModel.MorningPrice = (int) Day.MorningPrice;
        _dayModel.MiddayPrice = (int) Day.MiddayPrice;
        base.OnParametersSet();
    }
    
    private async Task OnBlurMorning(FocusEventArgs e)
    {
        Day.SetMorning((uint)_dayModel.MorningPrice);
        await Tracker.WriteToHistory();
    }

    private async Task OnBlurMidday(FocusEventArgs e)
    {
        Day.SetMidday((uint)_dayModel.MiddayPrice);
        await Tracker.WriteToHistory();

    }

}