@using StalkStalker.Data
<tr>
        <td>
            @DayOfWeekString
        </td>
        <td>
           @Day.MorningPrice <span class="oi oi-bell"></span>
        </td>
        <td>
            @Day.MiddayPrice <span class="oi oi-bell"></span>
        </td>
</tr>
@code {
    [Parameter] public int DayOfWeek { get; set; }

    [Parameter] public Day Day { get; set; } = null!;

    private string DayOfWeekString => Day.DaysOfWeek[DayOfWeek];

}