@using Blazored.Modal.Services
@using StalkStalker.Data
@using StalkStalker.Shared.SaleComponents
<button class="btn btn-primary float-right" @onclick="DisplayModal" disabled="@Disabled"><span class="oi oi-bell"></span></button>
@code {
    [CascadingParameter] IModalService Modal { get; set; } = null!;
    [Parameter] public Day Day { get; set; } = null!;
    [Parameter] public int SellPrice { get; set; }
    [Parameter] public uint RemainingTurnips { get; set; }
    [Parameter] public Guid? WeekId { get; set; }
    [Parameter] public bool Disabled { get; set; } = true;
    [Parameter] public bool Morning { get; set; } = true;
    private string TimeOfDay => Morning ? "Morning" : "Midday";
    private string ModalTitle => $"{TimeOfDay} Sale on {Day.Date.ToShortDateString()}";

    private async Task DisplayModal()
    {
        var parameters = new ModalParameters
        {
            { nameof(SaleModal.Day), Day },
            { nameof(SaleModal.SellPrice), SellPrice },
            { nameof(SaleModal.RemainingTurnips), RemainingTurnips },
            { nameof(SaleModal.WeekId), WeekId }
        };

        var saleModal = Modal.Show<SaleModal>(ModalTitle, parameters);
        if (Morning) Day.SetMorning((uint)SellPrice);
        else Day.SetMidday((uint)SellPrice);
        await saleModal.Result;
    }
}