@using StalkStalker.Services
@using StalkStalker.Data
@inject Tracker _tracker
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    public Week? CurrentWeek => _tracker.CurrentWeek;
    public async Task AddWeek(Week week)
    {
        await _tracker.NewWeek(week);
        StateHasChanged();
    }

    public async Task<bool> AddSale(Sale sale)
    {
        var success = await _tracker.AddSale(sale);
        if (success) await StateUpdated();
        return success;
    }

    public async Task<bool> AddSale(Sale sale, Guid? id)
    {
        var success = await _tracker.AddSale(sale, id);
        if (success) await StateUpdated();
        return success;
    }

    public async Task DeleteSale(Sale sale)
    {
        await _tracker.DeleteSale(sale);
        await SaveWithoutStateChange();
    }

    public async Task DeleteSale(Sale sale, Guid? id)
    {
        await _tracker.DeleteSale(sale, id);
        StateHasChanged();
    }

    public async Task StateUpdated()
    {
        await _tracker.WriteToHistory();
        StateHasChanged();
    }

    public async Task UpdateWeekStats(Guid weekId, uint price, uint turnips)
    {
        await _tracker.UpdateWeekStats(weekId, price, turnips);
        await SaveWithoutStateChange();
    }

    public async Task SaveWithoutStateChange()
    {
        await _tracker.WriteToHistory();
    }

}